body{
    background: #F3F5FC;
    font-family: 'Inter', sans-serif;
}

.logo{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 40px;

    position: absolute;
    width: 10%;
    height: 10%;
    left: 1%;
    top: 5%;
}

.mensaje_advertencia{
    position: absolute;
    width: 30%;
    height: 5%;
    left: 20%;
    top: 20%;

    margin: 10%;
}

.mensaje{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 150%;

    color: #0A3871;
}

.advertencia{
    font-size: 12px;
    padding-top: 2%;
}


.rectangulo1{
    position: absolute;
    width: 23%;
    height: 90%;
    left: 73%;
    top: 40px;

    background: #FFFFFF;

    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
    border-radius: 32px;
}

.rectangulo2{
    position: absolute;
    width: 23%;
    height: 90%;
    left: 73%;
    top: 40px;

    background: #FFFFFF;

    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
    border-radius: 32px;
}

#imagen_encontrado{
    position: absolute;
    width: 23%;
    height: 90%;
    left: 73%;
    top: 40px;
    
    background: none;

    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
    border-radius: 32px;
}


#texto_devuelto{
    position: absolute;
    width: 80%;
    height: 30%;
    left: 10%;
    top: 30%; 

    font-size: 200%;

    background: #F3F5FC;
    border: none;
}

.muneco{
    position: absolute;
    width: 30%;
    height: 30%;
    left: 70%;
    top: 30%; 
}

.mensaje_no_encontrado{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0%;
    gap: 1%;

    position: absolute;
    width: 20%;
    height: 20%;
    left: 75%;
    top: 70%;
}
.mensaje_no_encontrado h3{
    padding-top: 2%;
}

.botones{
    display: inline-block;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0%;
    gap: 2%;

    position: absolute;
    width: 40%;
    height: 10%;
    left: 25%;
    top: 80%; 
}

.btn_encriptar{
    padding: 3%;

    width: 40%;
    margin-right: auto;
    margin-left: auto;

    background: #0A3871;
    border-radius: 24px;
    color: #FFFFFF
}

.btn_desencriptar{
    padding: 3%;

    width: 40%;

    border-radius: 24px;
}

#btn_copiar{  
    padding: 0%;

    margin-right: auto;
    margin-left: auto;

    background: #0A3871;
    border-radius: 24px;
    color: #FFFFFF;
    border-radius: 24px;

    position: absolute;
    width: 40%;
    height: 7%;
    left: 25%;
    top: 80%; 
}

footer{
    background: url(imagenes/bg.jpg);
    text-align: center;
    padding: 2%;

    position: absolute;
    top: 90%;
    left: 33%;
}

.copyright{
    color: #0A3871;
    font-size: 12px;
}